html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: #333;
  font-family: $font-family-roboto;

  background: #fafafa;
  min-width: 840px;
  min-height: 480px;

  @media #{$media-square-mobile} {
    min-height: 320px;
    min-width: 320px;
  }

  @media #{$media-horizontal} {
    min-width: 480px;
    min-height: 320px;
  }

  & > body {
    overflow: auto;
  }
}
.is-hide {
  display: none;
}

.container {
  width: 100%;
  min-width: 840px;
  height: 100%;
  min-height: 480px;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$media-square-mobile} {
    min-height: 320px;
    min-width: 320px;
  }

  @media #{$media-horizontal} {
    min-width: 480px;
    min-height: 320px;
    max-width: 960px;
    margin: 0;
  }
}

a[href=""] {
  pointer-events: none;
  cursor: default;

  & > * {
    pointer-events: inherit;
  }
}
