.color-metro-ginza {
  color: $color-line-metro-ginza;
}
.color-metro-marunouchi {
  color: $color-line-metro-marunouchi;
}
.color-metro-hibiya {
  color: $color-line-metro-hibiya;
}
.color-metro-tozai {
  color: $color-line-metro-tozai;
}
.color-metro-chiyoda {
  color: $color-line-metro-chiyoda;
}
.color-metro-yurakucho {
  color: $color-line-metro-yurakucho;
}
.color-metro-hanzomon {
  color: $color-line-metro-hanzomon;
}
.color-metro-namboku {
  color: $color-line-metro-namboku;
}
.color-metro-fukutoshin {
  color: $color-line-metro-fukutoshin;
}
.color-metro-asakusa {
  color: $color-line-metro-asakusa;
}
.color-metro-mita {
  color: $color-line-metro-mita;
}
.color-metro-shinjuku {
  color: $color-line-metro-shinjuku;
}
.color-metro-oedo {
  color: $color-line-metro-oedo;
}

.line-infotmation {
  background: skyblue;
}
.line-blank-middle {
  background: pink;
}
