
.color-metro-asakusa {
  color: $color-line-metro-asakusa;
}
.color-metro-mita {
  color: $color-line-metro-mita;
}
.color-metro-shinjuku {
  color: $color-line-metro-shinjuku;
}
.color-metro-oedo {
  color: $color-line-metro-oedo;
}
