.main-wrap {
  background: $part-control-bgcolor;
  margin-top: 40px;
  padding: 32px 0 36px;
  position: absolute;
  width: 100%;
  z-index: 9999;

  @media #{$media-normal} {
    top: 50%;
    transform: translateY(-50%);
  }

  @media #{$media-small} {
    top: 50%;
    transform: translateY(-50%);
  }

  @media #{$media-square} {
    padding: 0.5em 0;
    margin: 0;
    bottom: 0;
  }

  @media #{$media-mobile} {
    height: calc(100% - 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20%;
    padding: 0 0 12px;
    margin: 0;
    bottom: 0;
  }

  @media #{$media-horizontal} {
    top: 50%;
    transform: translateY(-50%);
    width: 36%;
    margin: auto 4% auto 60%;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
  }

}
.site-title {
  color: $part-control-main-color;
  font-feature-settings: "palt";
  font-size: 26.66px;
  font-weight: 300;
  letter-spacing: .6em;
  line-height: 1.7;
  text-align: center;
  text-indent: .6em;

  @media #{$media-mobile} {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .3em;
    text-indent: .3em;
  }

  @media #{$media-horizontal} {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .3em;
    text-indent: .3em;
  }

  @media #{$media-square} {
    display: none;
  }
}
.control {
  color: $part-control-color;
  display: flex;
  font-family: $font-family-default;
  font-size: 16px;
  height: 1.7em;
  justify-content: space-between;
  letter-spacing: .075em;
  text-indent: .075em;
  line-height: 1.7;
  margin: auto;
  overflow: hidden;
  width: 320px;

  @media #{$media-mobile} {
    font-weight: 500;
    margin: 0;
  }

  @media #{$media-horizontal} {
    font-weight: 500;
    width: auto;
    height: 3.4em;
    flex-wrap: wrap;
  }
}

.control-when {
  height: 1.7em;
  overflow: hidden;
  width: 120px;

  @media #{$media-horizontal} {
    width: calc(100% - 60px);
    text-align: center;
  }

  &.select-time {
    text-align: right;
    
    @media #{$media-horizontal} {
      margin-left: 30px;
      margin-top: -1.7em;
      order: 1;
      text-align: center;
    }
  }
}

.control-arrow {
  height: 100%;
  width: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  
  span {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  &.arrow-left {
    justify-content: flex-start;
    padding-left: 5px;
    span {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 6px solid $part-control-color;
    }
  }
  &.arrow-right {
    justify-content: flex-end;
    padding-right: 5px;
    span {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 6px solid $part-control-color;
    }
  }
  &.is-invalid {
    pointer-events: none;
    span {
      border-color: transparent;
    }
  }
}
