/*
// .top-wrap
*/

.top-wrap {
  height: 100%;
  width: 100%;
  margin-top: 0;

  @media #{$media-mobile} {
    max-height: 150vw;
  }

  @media #{$media-square} {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}


/*
// .list
*/

.list {
  height: calc(100vh + 72px);
  width: 70%;
  max-width: 960px;
  margin: -18px auto -54px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  @media #{$media-normal} {
    min-width: 720px;

/*    &.is-changing {
      height: calc(200vh + 144px);
      margin: calc(-50vh + -36px) auto calc(-50vh + -108px);
  //    transition: height $time-changing ease-in-out,
  //                margin $time-changing ease-in-out;
    }*/
  }

  @media #{$media-mobile} {
    width: 80vw;
    max-width: 80vh;
    height: 75vh;
    max-height: 100vw;
    margin: auto;
  }

  @media #{$media-square} {
    width: 90vw;
    max-width: 90vh;
    height: 90vh;
    max-height: 90vw;
    margin: auto;
    padding-bottom: 10%;
  }
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
//  transition: height 0.3s ease-in-out;

  @media #{$media-normal} {
    transition: opacity 0.3s ease-in-out;
  }

  @at-root {
    @media #{$media-normal} {
      .is-changing .list-item {
        opacity: 0;
        transition: opacity 0s;
      }
    }
  }
}

.line-blank-middle {
  width: 100%;
  height: 0;
  order: 0;
  transition: height $time-changing ease-in-out;

  @media #{$media-square-mobile} {
    display: none;
  }

  @at-root {
    .list.list--count_9 {
      .line-blank-middle {
        height: 50%;
      }
    }
/*    .list.is-changing {
      .line-blank-middle {
        height: 100%;
      }
    }*/
  }
}

.line-blank-left,
.line-blank-right {
  width: 1px;
  flex-grow: 1;

  @media #{$media-square-mobile} {
    display: none;
  }

  @at-root {
    .list:not([class*="list--count_"]) {
      .line-blank-left,
      .line-blank-right {
        display: none;
      }
    }
  }
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 11%;
  transition: order 0s linear $time-changing,
              height $time-changing ease-in-out;
  
  @media #{$media-square-mobile} {
    height: 27%;
    width: 27%;
  }
  @media #{$media-mobile} {
    height: 25%;
    width: 27%;
  }

  &.line-delay {
    width: auto;
    order: -1;

    @media #{$media-square-mobile} {
      order: 0;
    }
  }

  @at-root {
    .list {

      &:not([class*="list--count_"]) {
        .line {
          flex-grow: 1;
        }
      }

      &[class*="list--count_"] {
        .line {
          @media #{$media-normal} {
            width: 12%;
          }
        }
      }

/*      &.is-changing {
        .line {
          @media #{$media-normal} {
            height: 25%;
          }
        }
      }*/

      &.list--count_1 {
        .line.line-delay {
          width: 100%;
        }
      }
      &.list--count_2 {
        .line.line-delay {
          width: 50%;
        }
      }
      &.list--count_3 {
        .line.line-delay {
          width: 30%;
        }
      }
      &.list--count_4 {
        .line.line-delay {
          width: 20%;
        }
      }
      &.list--count_5 {
        .line.line-delay {
          width: 16%;
        }
      }
      &.list--count_6 {
        .line.line-delay {
          width: 13%;
        }
      }
      &.list--count_7 {
        .line.line-delay {
          width: 11%;
          min-width: 60px;
        }
      }
      &.list--count_8 {
        .line.line-delay {
          width: 10%;
          min-width: 60px;
        }
      }
      &.list--count_9 {
        .line.line-delay {
          width: 9%;
          min-width: 60px;
        }
      }
      &[class*="list--count_"] {
        .line.line-delay {
          @media #{$media-square-mobile} {
            width: 27%;
          }
        }
      }
    }

  }
}

.line-item {
  max-width: 100%;
  text-decoration: none;

  @media #{$media-square-mobile} {
    height: 100%;
  }

  @at-root {
    .line:not(.line-delay) {
      .line-item {
        @media #{$media-normal} {
          width: 60px;
        }
      }
    }
  }
}

.line-symbol {
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
  user-select: none;
  transition: box-shadow 0.2s ease-in-out, // ホバー時のアクション
              transform 0.2s ease-in-out;

  &:hover {
    @media #{$media-normal} {
      box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  @media #{$media-mobile} {
    width: 18vw;
    height: 18vw;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;

    @media #{$media-mobile} {
      width: auto;
    }
  }

  @at-root {
    .line.line-delay .line-symbol {
      @media #{$media-square-mobile} {
        box-shadow: 0 0 8px 2px rgba(211,47,47,0.8);
      }
    }
  }
}

.line-text {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: .1em;
  text-indent: .1em;
  
  padding: 0.4em 0;
  text-align: center;
  width: 100%;

  display: flex;
  flex-direction: column;

  @at-root {
    .line-delay .info-text {
      font-size: 14px;
      padding: 0.6em 0;
    }

  }

  span {
    white-space: nowrap;
  }
  .delay-text {
    color: #FFB300;
    @media #{$media-mobile} {
      display: none;
    }
  }

  @media #{$media-square} {
    display: none;
  }

  @media #{$media-mobile} {
    padding: 0.75em 0;
  }
}
