.line-info {
  width: 100%;
  order: -1;
  overflow: hidden;
  
  @media #{$media-square} {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  @media #{$media-mobile} {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  @media #{$media-horizontal} {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
  }

  @at-root {
    .list[class*="list--count_"] {
      .line-info {
        height: 0;

        @media #{$media-square} {
          display: none;
        }
        @media #{$media-mobile} {
          display: none;
        }
        @media #{$media-horizontal} {
          display: none;
        }
      }
    }
  }
}

.info-item {
  max-width: 100%;
  text-decoration: none;

  @media #{$media-square} {
    background: white;
    padding: 0.2em 4em;
    margin-bottom: 1em;
    border-radius: 5px;
  }

  @media #{$media-mobile} {
    background: white;
    padding: 0.2em 4em;
    margin-bottom: 1em;
    border-radius: 5px;
  }

  @media #{$media-horizontal} {
    background: white;
    padding: 0.2em 4em;
    margin-bottom: 1em;
    border-radius: 5px;
  }
}

.circle {
  background: #fff;
  margin: auto;
  font-size: 10px;
  text-indent: -9999em;
  border-width: 36px;
  border-style: solid;

  @media #{$media-square} {
    display: none;
  }

  @media #{$media-mobile} {
    display: none;
  }

  @media #{$media-horizontal} {
    display: none;
  }

  &, &:after {
    border-radius: 50%;
    height: 88px;
    width: 88px;
  }

  @at-root {
    .info-loading {
      .circle {
        border-color: $color-company-metro;
        border-left-color: lighten($color-company-metro, 7%);
        transform: translateZ(0);
        animation: loading 1.1s infinite linear;
      }
    }
    .info-scheduled {
      .circle {
        border-color: $color-scheduled;
      }
    }
    .info-nodata {
      .circle {
        border-color: $color-nodata;
      }
    }
  }
}

.info-text {
  font-size: 14px;
  padding: 0.6em 0;
  line-height: 1.4;
  letter-spacing: .1em;
  text-indent: .1em;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;

  @at-root {
    .info-loading {
      .info-text {
        color: $color-company-metro;
      }
    }
    .info-scheduled {
      .info-text {
        color: $color-scheduled;
      }
    }
    .info-nodata {
      .info-text {
        color: $color-nodata;
      }
    }
  }
}
